<html>
	<head>
		<style>
			input { width:20px; margin:10px;}
			td { border:1px solid black}
		</style>
	</head>
	<form action="/tablero">
	<body>
		<title>TriquiWeb</title>
     	<label>Bienvenido <%=@@Nombre%> </label>
		<h1><%=@@Nombre%> vs <%=@@Nombre%></h1>
	<table>
        <tr><td>
			<input type="text" name="c1" value="<%=@@c1%>" maxlength="1" />
			<input type="text" name="c2" value="<%=@@c2%>" maxlength="1" />
			<input type="text" name="c3" value="<%=@@c3%>" maxlength="1" />
		</td></tr>
		<tr><td>
			<input type="text" name="c4" value="<%=@@c4%>" maxlength="1" />
			<input type="text" name="c5" value="<%=@@c5%>" maxlength="1" />
			<input type="text" name="c6" value="<%=@@c6%>" maxlength="1" />
		</td></tr>
		<tr><td>
			<input type="text" name="c7" value="<%=@@c7%>" maxlength="1" />
			<input type="text" name="c8" value="<%=@@c8%>" maxlength="1" />
			<input type="text" name="c9" value="<%=@@c9%>" maxlength="1" />
		</td></tr>
    </table>
	<h1><%=@@Estado%></h1>
	<input type="submit" style="width:100px;" value="Jugar"/>
	<input type="hidden" name="Nombre" id="Nombre" value="<%=@@Nombre%>" />
	</form>
	</body>
<html>
